.container {
    text-align: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 20%;
    left: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.list-header-container {
    text-align: center;
    background-size: cover;
    height: 150px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin-top: 20px;
    margin-left: 2.5%;
    width: 95%;
    align-items: center;
    position: absolute;
}

.list-header-image {
    align-items: center;
    background: url(./images/list-background.jpg);
    background-size: contain;
    height: 150px;
    top: 0px;
    right: 0px;
    bottom: 20%;
    left: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;

}

.title h2 {
    font-family: "Roboto";
    font-size: 25px;
}

.title h1 {
    text-shadow: 3px 3px black;

}

.title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    line-height: 0;
    font-size: 37px;
}

.list-header-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-size: 30px;
}


.frontpage-content {
    background-size: cover;
    position: absolute;
    top: 75%;
    right: 0px;
    bottom: 0%;
    left: 0px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px 25px 0 0;
    background-color: white;
}

.content-text {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Arial";
}

.regularpage-content {
    background-size: cover;
    position: absolute;
    background-color: white;
}


.list-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 2px;
    margin-bottom: 20px;
    width: 48%;
    height: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: black;
    background-size: cover;
    border: 1px solid black;
}

.list-container-text {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

.view-button {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 0.5px black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 40%;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: black;
    background-size: cover;
    border: 1px solid black;
}