.holder {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

iframe {
    display: block;
    border: none;
    /* Reset default border */
    height: 100vh;
    /* Viewport-relative units */
    width: 100vw;
}

.menu-button {
    position: absolute;
    top: 88%;
    left: 1%;
    width: 40px;
    height: 40px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    visibility: visible;

    outline: 1px solid black;
}

.menu-text {
    position: relative;
    margin: 10px;
    font-size: 20px;
}

.line {
    width: 90%;
    height: 1px;
    background-color: black;
    margin-left: 9px;
}

.menu {
    display: inline-block;
    left: 30%;
    top: 10%;
    margin: auto;
    position: absolute;
    width: 40%;
    height: 80%;
    background-color: white;
    outline: 2px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    visibility: hidden;
}