.holder {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

iframe {
  display: block;
  border: none;
  /* Reset default border */
  height: 100vh;
  /* Viewport-relative units */
  width: 100vw;
}

.menu-button {
  position: absolute;
  top: 88%;
  left: 1%;
  width: 40px;
  height: 40px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  visibility: visible;
  z-index: 1;
}

.menu-text {
  position: relative;
  margin: 10px;
  font-size: 20px;
}

.line {
  width: 90%;
  height: 1px;
  background-color: black;
  margin-left: 9px;
}

.menu {
  display: inline-block;
  left: 30%;
  top: 10%;
  margin: auto;
  position: absolute;
  width: 40%;
  height: 80%;
  background-color: white;
  outline: 2px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  visibility: hidden;
  z-index: 1;
}

.bigcontainer {
  background-color: #f1955f;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0%;
  position: absolute;
}

.cont1 {
  background-color: white;
  width: 35%;
  height: 80%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 80px;
  margin-right: 70px;
  overflow: auto;
}

.cont2 {
  background-color: #e2e2e2;
  width: 25%;
  height: 40%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 250px;
  margin-right: 30px;
  margin-left: 10px;
}

.img-row {
  display: flex;
  background: white;
  margin: 20px 35px;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 35px;
  width: 85%;
}

.img-row p {
  margin-left: 10px;
}

.play-btn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  right: 22%;
}
